<!DOCTYPE html>

<html>
<head>
	<title>Sam & Tash | @ViewBag.Title</title>
	<link href="~/Content/site.css" rel="stylesheet" />
	<script src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
	<script>WebFont.load({google:{families:["Lobster"]}});</script>
	@RenderSection("Head", false)
</head>
<body>
	<header>
		<h1>Sam & Tash</h1>
		<h2>29th April - 2nd May 2016</h2>
	</header>

    <nav>
        <ul>
            <li>@Html.ActionLink("Home", "Index")</li>
			<li>@Html.ActionLink("Location", "Location")</li>
			<li>@Html.ActionLink("Accommodation", "Accommodation")</li>
			<li>@Html.ActionLink("RSVP", "RSVP")</li>
			<li>@Html.ActionLink("Photos", "Photos")</li>
        </ul>
    </nav>

	<div id="content">
		@RenderBody()
	</div>

	<footer>www.SamTash.com</footer>
</body>
</html>